body {
  margin: 0;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 12px;
  animation: moveBox 3s ease-in-out infinite;
}

@keyframes moveBox {
  0% {
    transform: translateX(0);
    background-color: green;
  }
  50% {
    transform: translateX(200px);
    background-color: yellow;
  }
  100% {
    transform: translateX(0);
    background-color: purple;
  }
}
